{
  "env": {
    "test": {
      "presets": [["es2015", { "modules": false }]],
      "plugins": ["transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  },
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    ["transform-function-bind"],
    ["transform-decorators-legacy"],
    ["transform-object-rest-spread"],
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "targets": {
          "browsers": [
            "IE 11",
            "last 2 Edge versions",
            "last 2 iOS versions",
            "last 2 Chrome versions",
            "last 2 Firefox versions",
            "last 2 Safari versions"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ]
}
