/* Spectre.css
 ****************************************************************************/
@import '~spectre.css/spectre';
@import '~spectre.css/spectre-icons';

.gray-color {
  color: @gray-color;
}

.sans-serif {
  font-family: @body-font-family;
}

.monospace {
  font-family: @mono-font-family;
}

/* Custom mixins
 ****************************************************************************/
@import 'ui-balloon';

.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
}

.user-select-none {
  user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.page-center {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: perspective(1px) translateY(-50%);
  img& {
    left: 50%;
    right: auto;
    transform: perspective(1px) translateY(-50%) translateX(-50%);
    max-width: none;
  }
}

.debug {
  background: fade(pink, 10%);
  border: pink;
  color: pink;
}

.db {
  display: block;
}
.di {
  display: inline;
}
.dib {
  display: inline-block;
}
.dn {
  display: none;
}
.absolute {
  position: absolute;
}

.pointer:hover {
  cursor: pointer;
}

.relative,
.z--1,
.z-0,
.z-1,
.z-2,
.z-3,
.z-4,
.z-5,
.z-max {
  position: relative;
}

.z--1 {
  z-index: -@zindex-0;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: @zindex-0;
}
.z-2 {
  z-index: @zindex-1;
}
.z-3 {
  z-index: @zindex-2;
}
.z-4 {
  z-index: @zindex-3;
}
